extends layout

block content
  block link
    -var selected = 'Veteran Help Center';
  
  .row
    .col-sm-3
      include partials/side-nav
    .col-sm-6
      include partials/help-body
    .col-sm-3 
      include partials/side-chat
