extends layout

block content
  .landing-body
    h1 UniNet
    p.lead A social network for students.
    hr
    .col-md-12 
      h2 Welcome to Alexandru Ioan Cuza University!
      img.university-image(src="http://www.ziuaconstanta.ro/images/stories/2015/01/10/cosmin/universitatea-alexandru-ioan-cuza.jpg")
